<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>265827385543-t1bu3bfithfnuhjv8ln0ndvpsksmqmnj.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.265827385543-t1bu3bfithfnuhjv8ln0ndvpsksmqmnj</string>
	<key>API_KEY</key>
	<string>AIzaSyBozXvvNgn2v-lianvIL8dt21V1utsuLk4</string>
	<key>GCM_SENDER_ID</key>
	<string>265827385543</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mun.Moim</string>
	<key>PROJECT_ID</key>
	<string>moim-6d102</string>
	<key>STORAGE_BUCKET</key>
	<string>moim-6d102.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:265827385543:ios:7e1da89be6113097ed3ee2</string>
</dict>
</plist>